# General
.git
.gitignore
.vscode
*.log
*.md
*.pdf
*.csv
*.xlsx
*.xls
*.doc
*.docx
*.pyc
__pycache__
.pytest_cache
.coverage
*.egg-info
.DS_Store
.env
.env.*
!.env.example

# Python
venv/
env/
.python-version
.pytest_cache/
*.py[cod]
*$py.class

# Node.js
node_modules/
.next/
out/
dist/
.npm
.eslintcache
.yarn-integrity